body {
    background-image: url(/img/background.jpg);
    background-size: cover;
    padding: 0% 25%;
}

div {
    border: solid 2px grey;
    border-radius: 10px 0px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
}

a {
    color: rgb(175, 11, 11);
    text-align: right;
    display: block;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to top, rgba(128, 128, 128, 0.589), rgba(128, 128, 128, 0.171));
}

h2 {
    text-align: center;
    color: rgb(235, 182, 8);
    font-size: larger;
}

img {
    padding-left: 20px;
    width: 25%;
}

p {
    padding: 20px;
    font-size: small;
}